@import url('style.css');

/* ======== SEÇÃO SOBRE ======== */
.sobre {
  max-width: 800px;
  margin: 0 auto;
  background: var(--branco);
  padding: 40px 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.sobre h2 {
  color: var(--caramelo);
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.sobre p {
  color: var(--marrom);
  font-size: 1rem;
  line-height: 1.8;
}
